@font-face {
  font-family: "Univers";
  src: url("./fonts/univers/UniversLight.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Univers";
  src: url("./fonts/univers/UniversRegular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Univers";
  src: url("./fonts/univers/UniversBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Univers Condensed";
  src: url("./fonts/univers/UniversCnRg.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Univers Condensed";
  src: url("./fonts/univers/UniversCnBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "the_blanger";
  src: url("./fonts/The Blanger/Web Fonts/theblanger_regular_macroman/the_blanger-webfont.woff2") format("woff2"),
       url("./fonts/The Blanger/Web Fonts/theblanger_regular_macroman/the_blanger-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avara";
  src: url("./fonts/Avara-master/fonts/webfonts/Bold/Avara-Bold.woff2") format("woff2"),
       url("./fonts/Avara-master/fonts/webfonts/Bold/Avara-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avara";
  src: url("./fonts/Avara-master/fonts/webfonts/BoldItalic/Avara-BoldItalic.woff2") format("woff2"),
       url("./fonts/Avara-master/fonts/webfonts/BoldItalic/Avara-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Avara";
  src: url("./fonts/Avara-master/fonts/webfonts/Black/Avara-Black.woff2") format("woff2"),
       url("./fonts/Avara-master/fonts/webfonts/Black/Avara-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Feroniapi";
  src: url("./fonts/feroniapi-main/fonts/woff2/Feroniapi-MediumItalic.woff2") format("woff2"),
       url("./fonts/feroniapi-main/fonts/woff/Feroniapi-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Isenheim";
  src: url("./fonts/isenheim-main/isenheim-main/fonts/OpenType-PS/Isenheim_Regulier.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Isenheim";
  src: url("./fonts/isenheim-main/isenheim-main/fonts/OpenType-PS/Isenheim_Fin.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
