.desktop-homepage-experienc {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10);
  min-width: 977px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-black);
  font-family: var(--font-univers);
}
.container,
.header {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.header {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-30) var(--padding-0);
  min-height: 160px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-36);
  color: var(--color-black);
  font-family: var(--font-univers);
}
.container {
  width: 100%;
  padding: var(--padding-15);
  max-width: var(--max-w-1200);
}
.container,
.header-inner,
.my-name {
  overflow: hidden;
  display: flex;
}
.header-inner {
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0;
  max-width: 100%;
}
.my-name {
  height: 53px;
  flex-direction: column;
  align-items: center;
}
.meric-sila-taskin {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-36);
  font-weight: 700;
  font-family: inherit;
}
.intro,
.intro-parent {
  display: flex;
  flex-direction: column;
}
.intro-parent {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-7);
  font-size: var(--fs-16);
}
.intro {
  align-self: stretch;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-3);
}
.what {
  white-space: pre-wrap;
}
.what,
.where {
  position: relative;
  font-weight: 300;
}
.email {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.silataskingmailcom {
  position: relative;
}
.text {
  position: relative;
}
.container2,
.main {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.main {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-30);
  min-height: 783px;
  flex-shrink: 0;
}
.container2 {
  flex: 1;
  padding: var(--padding-15) var(--padding-0);
  gap: var(--gap-10);
  max-width: var(--max-w-1200);
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-black);
  font-family: var(--font-univers);
}
.decor,
.lale-2-icon {
  align-self: stretch;
  overflow: hidden;
}
.decor {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 135px;
  max-width: 180px;
}
.lale-2-icon {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.nav-menu,
.nav-section {
  display: flex;
  flex-direction: column;
}
.nav-section {
  align-self: stretch;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-width: 139px;
  max-width: 186px;
  text-align: left;
  font-size: var(--fs-24);
  color: var(--color-violet);
  font-family: var(--font-univers);
}
.nav-menu {
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-10);
  gap: var(--gap-10);
}
.drafts-musings,
.education,
.experience,
.tools-capabilities {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
.education {
  width: 126px;
  font-weight: 400;
  display: inline-block;
}
.drafts-musings,
.experience,
.tools-capabilities {
  font-weight: 700;
}
.drafts-musings,
.tools-capabilities {
  width: 126px;
  height: 59px;
  font-weight: 400;
  display: inline-block;
}
.tools-capabilities {
  width: 139px;
  height: 70px;
}
.content,
.exp {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 0.9754;
  border-radius: var(--br-5);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-15) var(--padding-10);
  min-width: 646px;
  max-width: 814px;
}
.exp {
  border: 3px solid var(--color-violet);
  align-items: flex-start;
  padding: 11px var(--padding-12);
  min-width: 613px;
  text-align: left;
  font-size: var(--fs-24);
  color: var(--color-violet);
  font-family: var(--font-univers);
}
.exp,
.exp-professional {
  align-self: stretch;
  gap: var(--gap-15);
}
.exp-professional,
.section-content,
.section-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-title {
  overflow: hidden;
  padding: var(--padding-0) var(--padding-15);
}
.section-content {
  align-self: stretch;
  gap: var(--gap-15);
  font-size: var(--fs-20);
  color: var(--color-black);
  font-family: "Univers Condensed";
}
.experience-1 {
  align-self: stretch;
  border-radius: var(--br-15);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-6) var(--padding-14);
  gap: var(--gap-20);
}
.exp-left,
.exp-left2,
.exp-left3,
.exp-left4 {
  position: relative;
  height: var(--exp-left-height-standard);
}
.exp-left {
  width: var(--exp-left-width-1);
}
.exp-left2 {
  width: var(--exp-left-width-2);
}
.exp-left3 {
  width: var(--exp-left-width-3);
  height: var(--exp-left-height-compact);
}
.exp-left4 {
  width: var(--exp-left-width-4);
}
.position {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.company,
.role {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.company {
  font-weight: 400;
  margin: -1px 0 0;
  font-family: "Univers Condensed";
}
.skills-container {
  position: absolute;
  top: 57px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-7);
  font-size: var(--fs-15);
}
.responsibilities,
.responsibilities3,
.tools,
.tools3 {
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-10);
}
.responsibilities3,
.tools3 {
  flex-shrink: 0;
}
.reponsibility,
.reponsibility6,
.reponsibility9,
.tool,
.tool7,
.tool8,
.tool12,
.tool15 {
  border-radius: var(--br-7);
  border: var(--border-1);
  display: flex;
  padding: var(--padding-2) var(--padding-5);
  flex-shrink: 0;
  align-items: flex-start;
  cursor: pointer;
  background-color: transparent;
  justify-content: center;
}
.reponsibility9,
.tool7,
.tool12,
.tool15 {
  display: none;
}
.name {
  position: relative;
  font-size: var(--fs-15);
  font-family: var(--font-univers);
  color: var(--color-black);
  text-align: left;
}
.exp-right {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-0);
  font-size: var(--fs-16);
}
.dates {
  position: relative;
  font-family: "Univers Condensed";
}
.feb-2024-2 {
  position: relative;
  white-space: pre-wrap;
  font-family: "Univers Condensed";
}
.main-bottom {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  min-width: 613px;
}
.desc,
.desc-section {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.desc-section {
  height: var(--height-100);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-0) var(--padding-24);
  max-width: 834px;
}
.desc {
  width: 100%;
  border-radius: var(--br-5);
  border: var(--border-1);
  align-items: flex-start;
  padding: var(--padding-10) var(--padding-14);
  max-width: 100%;
}
.desc-text {
  align-self: stretch;
  position: relative;
}
.container3,
.footer-inner {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
}
.container3 {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: var(--padding-20);
  max-width: var(--max-w-1200);
}
.footer-inner {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-10);
  max-width: 100%;
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
  .intro {
    display: none;
  }
  .container2,
  .container3 {
    max-width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  .container2 {
    flex-wrap: wrap;
  }
  .content,
  .desc-section {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .content {
    min-width: 100%;
    flex: 1;
  }
}
@media screen and (max-width: 450px) {
  .drafts-musings,
  .education,
  .experience,
  .tools-capabilities {
    font-size: var(--fs-19);
  }
}
