:root {
  --section-title-font-family: "Univers", Helvetica;
  --section-title-font-weight: 700;
  --section-title-font-size: 24px;
  --section-title-letter-spacing: 0px;
  --section-title-line-height: normal;
  --section-title-font-style: normal;
  --title-font-family: "Univers", Helvetica;
  --title-font-weight: 700;
  --title-font-size: 20px;
  --title-letter-spacing: 0px;
  --title-line-height: normal;
  --title-font-style: normal;
}
