.desktop-homepage-tools {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10);
  min-width: 769px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-black);
  font-family: var(--font-univers);
}
.container5,
.header2 {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.header2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-30) var(--padding-0);
  min-height: 160px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-36);
  color: var(--color-black);
  font-family: var(--font-univers);
}
.container5 {
  width: 100%;
  padding: var(--padding-15);
  max-width: var(--max-w-1200);
}
.container5,
.header-inner2,
.my-name2 {
  overflow: hidden;
  display: flex;
}
.header-inner2 {
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0;
  max-width: 100%;
}
.my-name2 {
  height: 53px;
  flex-direction: column;
  align-items: center;
}
.meric-sila-taskin2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-36);
  font-weight: 700;
  font-family: inherit;
}
.intro-group,
.intro2 {
  display: flex;
  flex-direction: column;
}
.intro-group {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-7);
  font-size: var(--fs-16);
}
.intro2 {
  align-self: stretch;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-3);
}
.what2 {
  white-space: pre-wrap;
}
.what2,
.where2 {
  position: relative;
  font-weight: 300;
}
.email3 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.silataskingmailcom3 {
  position: relative;
}
.container6,
.main2 {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.main2 {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-30);
  min-height: 783px;
  max-width: 100%;
  flex-shrink: 0;
}
.container6 {
  padding: var(--padding-15) var(--padding-0);
  gap: var(--gap-10);
  max-width: var(--max-w-1200);
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-black);
  font-family: var(--font-univers);
}
.decor2,
.lale-2-icon2 {
  align-self: stretch;
  overflow: hidden;
}
.decor2 {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 89px var(--padding-0);
  box-sizing: border-box;
  max-width: 180px;
}
.lale-2-icon2 {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.nav-menu2,
.nav-section2 {
  display: flex;
  flex-direction: column;
}
.nav-section2 {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--fs-24);
  color: var(--color-violet);
  font-family: var(--font-univers);
}
.nav-menu2 {
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-10);
  gap: var(--gap-10);
}
.education2 {
  width: 126px;
  display: inline-block;
}
.drafts-musings2,
.education2,
.experience2,
.tools-capabilities2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.drafts-musings2,
.tools-capabilities2 {
  width: 166px;
  display: inline-block;
}
.tools-capabilities2 {
  font-weight: 700;
}
.content2,
.exp2,
.frame {
  display: flex;
  flex-direction: column;
}
.content2 {
  border-radius: var(--br-5);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-15) var(--padding-10);
  box-sizing: border-box;
  max-width: 100%;
}
.exp2,
.frame {
  align-items: flex-start;
}
.exp2 {
  width: 794px;
  height: 623px;
  border: 3px solid var(--color-violet);
  box-sizing: border-box;
  padding: var(--padding-15) var(--padding-12);
  min-width: 613px;
  text-align: left;
  font-size: var(--fs-24);
  color: var(--color-violet);
  font-family: var(--font-univers);
}
.frame {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-10);
  gap: var(--gap-10);
}
.tools-capabilities3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.capability-clusters {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-10);
  gap: var(--gap-10);
  font-size: var(--fs-20);
  color: var(--color-black);
}
.test-automation {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.tool-grid {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-10);
  box-sizing: border-box;
  gap: var(--gap-10);
  max-width: 300px;
  font-size: var(--fs-15);
}
.tool29,
.tool33 {
  border-radius: var(--br-7);
  border: var(--border-1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2) var(--padding-5);
}
.tool33 {
  cursor: pointer;
  background-color: transparent;
}
.name33 {
  position: relative;
  font-size: var(--fs-15);
  font-family: var(--font-univers);
  color: var(--color-black);
  text-align: left;
}
.browser-automation {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
}
.main-bottom2,
.tool-parent {
  overflow: hidden;
  align-items: flex-start;
}
.tool-parent {
  display: none;
  flex-direction: column;
  padding: var(--padding-10);
  gap: var(--gap-10);
  flex-shrink: 0;
  font-size: var(--fs-15);
}
.main-bottom2 {
  width: 794px;
  display: flex;
  justify-content: flex-end;
}
.desc-section2,
.desc2 {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.desc-section2 {
  height: var(--height-100);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-0) var(--padding-24);
  max-width: 834px;
}
.desc2 {
  width: 100%;
  border-radius: var(--br-5);
  border: var(--border-1);
  align-items: flex-start;
  padding: var(--padding-10) var(--padding-14);
  max-width: 100%;
}
.desc-text2 {
  align-self: stretch;
  position: relative;
}
.container7,
.footer2 {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.footer2 {
  width: 1440px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  padding: var(--padding-30);
  flex-shrink: 0;
}
.container7 {
  width: 100%;
  padding: var(--padding-20);
  max-width: var(--max-w-1200);
}
.container7,
.email4,
.footer-inner2 {
  overflow: hidden;
  display: flex;
}
.footer-inner2 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-10);
  box-sizing: border-box;
  max-width: 100%;
}
.email4 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-inner2 {
  height: var(--height-100);
  flex: 1;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .container5 {
    max-width: 100%;
  }
  .intro2 {
    display: none;
  }
  .container6 {
    flex-wrap: wrap;
  }
  .container6,
  .container7 {
    max-width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  .desc-section2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .decor2 {
    padding-top: 58px;
    padding-bottom: 58px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .drafts-musings2,
  .education2,
  .experience2,
  .tools-capabilities2,
  .tools-capabilities3 {
    font-size: var(--fs-19);
  }
  .browser-automation,
  .test-automation {
    font-size: var(--fs-16);
  }
}
